{%load static%}
<html>
    <head>
        <title>Django Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header>
            <div class="nav-left"><h1><a href="{% url 'blog_list_view' %}">Blog Posts</a></h1></div>
            <div class="nav-right">
                <a href="{% url 'blog_create_view' %}">+ New Blog Post</a>
            </div>
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            {% if user.is_authenticated %}
                <div><h4><p>Hi {{ user.username }}!</p></h4></div>
                <div>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>
            {% else %}
                <p>You are not logged in.</p>
                <div><h4><a href="{% url 'login' %}">Log In</a></h4></div>
            {% endif %}
        </footer>
    </body>
</html>