<!-- templates/home.html -->
{% extends "base.html" %}
{% block content %}
<div class="post-entry">
    <h2><a href="{% url 'blog_detail_view' post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.body|truncatewords:30 }}</p>
    <div class="post-actions">
        <p><a href="{% url 'blog_update_view' post.pk %}" class="action-link">+ Edit Blog Post</a></p>
        <p><a href="{% url 'blog_delete_view' post.pk %}" class="action-link delete-link">+ Delete Blog Post</a></p>
    </div>
</div>
{% endblock content %}
