<!-- templates/post_edit.html -->
{% extends "base.html" %}
{% block content %}
<section class="form-section">
    {% if user.is_authenticated %}
        <h1>Edit Post</h1>
        <form action="" method="post" class="styled-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" class="submit-button">
        </form>
    {% else %}
        <p class="warning-message">Only logged in users are allowed to modify posts!</p>
    {% endif %}
</section>
{% endblock content %}
